<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="entityTest">
      <h2 data-cy="entityTestDetailsHeading"><span jhiTranslate="myApp.entityTest.detail.title">Entity Test</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ entityTest.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aString">A String</span></dt>
        <dd>
          <span>{{ entityTest.aString }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aInteger">A Integer</span></dt>
        <dd>
          <span>{{ entityTest.aInteger }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aLong">A Long</span></dt>
        <dd>
          <span>{{ entityTest.aLong }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aBigDecimal">A Big Decimal</span></dt>
        <dd>
          <span>{{ entityTest.aBigDecimal }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aFloat">A Float</span></dt>
        <dd>
          <span>{{ entityTest.aFloat }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aDouble">A Double</span></dt>
        <dd>
          <span>{{ entityTest.aDouble }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aBoolean">A Boolean</span></dt>
        <dd>
          <span>{{ entityTest.aBoolean }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aLocalDate">A Local Date</span></dt>
        <dd>
          <span>{{ entityTest.aLocalDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aZonedDateTime">A Zoned Date Time</span></dt>
        <dd>
          <span>{{ entityTest.aZonedDateTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aInstant">A Instant</span></dt>
        <dd>
          <span>{{ entityTest.aInstant | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aDuration">A Duration</span></dt>
        <dd>
          <span>{{ entityTest.aDuration | duration }} ({{ entityTest.aDuration }})</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aUUID">A UUID</span></dt>
        <dd>
          <span>{{ entityTest.aUUID }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aBlob">A Blob</span></dt>
        <dd>
          <div *ngIf="entityTest.aBlob">
            <a (click)="openFile(entityTest.aBlob, entityTest.aBlobContentType)" jhiTranslate="entity.action.open">open</a>
            {{ entityTest.aBlobContentType }}, {{ byteSize(entityTest.aBlob) }}
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aAnyBlob">A Any Blob</span></dt>
        <dd>
          <div *ngIf="entityTest.aAnyBlob">
            <a (click)="openFile(entityTest.aAnyBlob, entityTest.aAnyBlobContentType)" jhiTranslate="entity.action.open">open</a>
            {{ entityTest.aAnyBlobContentType }}, {{ byteSize(entityTest.aAnyBlob) }}
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aImageBlob">A Image Blob</span></dt>
        <dd>
          <div *ngIf="entityTest.aImageBlob">
            <a (click)="openFile(entityTest.aImageBlob, entityTest.aImageBlobContentType)">
              <img
                [src]="'data:' + entityTest.aImageBlobContentType + ';base64,' + entityTest.aImageBlob"
                style="max-width: 100%"
                alt="entityTest image"
              />
            </a>
            {{ entityTest.aImageBlobContentType }}, {{ byteSize(entityTest.aImageBlob) }}
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.entityTest.aTextBlob">A Text Blob</span></dt>
        <dd>
          <span>{{ entityTest.aTextBlob }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entity-test', entityTest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
